
.person {
    @extend .rounded;
    background-color: $horta-secondary2;
    color: black;
    padding: 10pt;
}

.person .card-title {
    font-weight: bold;
    padding-bottom: 3pt;
}

// Controlling the overlay color on the cover image
.td-overlay--dark::after {
    background-color: #131317;
    opacity: 0.2;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.publication-list {
    list-style-type: none;
}

.publication-list li {
    margin-bottom: 10pt;
}

.text-horta-secondary3 {
    color: $horta-secondary3;
}

.parabox p {
    color: $horta-secondary3;
    margin-top: 2pt;
    margin-bottom: 4pt;
}